@{
	ViewData["Title"] = "DetalhesAnalista";
}

@model HelpDeskTI.Models.Chamado

@section Styles {
	<link rel="stylesheet" href="~/css/detalhes-dashboard.css" />
}

<main class="details-main">
    <div class="container-main">

        <div class="return-page">
            <a href="/Dashboard/Analista">
                <img src="~/img/return.png" alt="Voltar">
            </a>
        </div>

        <div class="ticket-layout">

            <article class="detalhes-ticket-inf">

                <header class="ticket-header">
                    <div class="ticket-titulo">
                        <span>Título</span>
                        <h1>@Model.Titulo</h1>
                    </div>

                    <div class="ticket-status-priority">
                        <span class="button-status-inf">@Model.Status</span>
                        <span class="button-status-priority">@Model.Prioridade</span>
                    </div>
                </header>

                <section class="ticket-description">
                    <span>Descrição</span>

                    <p>
                        @Model.Descricao
                    </p>
                </section>

                <section class="ticket-information-user">

                    <div class="ticket-applicant">
                        <span class="ticket-subtitle">Solicitante</span>

                        <div class="badge-userinf">
                            <img src="~/img/icons/user_2.png" alt="Usuário">
                            <span>@Model.Solicitante?.Nome</span>
                        </div>
                    </div>

                    <div class="ticket-responsible-inf">
                        <span class="ticket-subtitle">Responsável</span>

                        <div class="badge-userinf">
                            <img src="~/img/icons/user_2.png" alt="Usuário">
                            <span>@(Model.Analista?.Nome ?? "Sem responsável")</span>
                        </div>
                    </div>

                    <div class="ticket-date">
                        <span class="ticket-subtitle">Data de Criação</span>

                        <div class="badge-userinf">
                            <img src="~/img/icons/time.png" alt="Data">
                            <span>@Model.DataAbertura.ToString("dd/MM/yyyy HH:mm")</span>
                        </div>
                    </div>

                    <div class="ticket-update">
                        <span class="ticket-subtitle">Última Atualização</span>

                        <div class="badge-userinf">
                            <img src="~/img/icons/time.png" alt="Data">
                            <span>@Model.DataAtualizacao.ToString("dd/MM/yyyy HH:mm")</span>
                        </div>
                    </div>

                    <div class="ticket-category">
                        <span class="ticket-subtitle">Categoria</span>

                        <div class="badge-userinf">
                            <img src="~/img/icons/warning.png" alt="Categoria">
                            <span>@Model.Categoria</span>
                        </div>
                    </div>

                </section>

            </article>

            <aside class="inf-called">

                <div class="inf-called-title">
                    <h2>Informações sobre o chamado</h2>
                </div>

                    <div class="inf-called-status">
                        <span class="btn-sts-right">Status:</span>
                        <span class="btn-sts-left">@Model.Status</span>
                    </div>

                    <div class="inf-called-status">
                        <span class="btn-sts-right">Prioridade:</span>
                        <span class="btn-sts-left">@Model.Prioridade</span>
                    </div>

                <div class="inf-called-button-assume">
                    @if (Model.Status == HelpDeskTI.Models.StatusChamado.Aberto && Model.Analista == null)
                    {
                        <button type="button"
                                id="btn-assumir-chamado"
                                data-id="@Model.Id">
                            Assumir chamado
                        </button>
                    }
                    else if (Model.Status == HelpDeskTI.Models.StatusChamado.EmAndamento)
                    {
                        <button type="button"
                                onclick="window.location.href='/Dashboard/AtualizarChamado/@Model.Id'">
                            Atualizar chamado
                        </button>
                    }
                    else
                    {
                        <p>Chamado fechado</p>
                    }

                    <p id="mensagem-assumir"></p>
                </div>

            </aside>

        </div>

    </div>
</main>
<script src="~/js/detalhes-analista.js" asp-append-version="true"></script>
